.ui-dbutton {
    padding: 0;
}

.ui-dbutton:active {
    box-shadow: none;
}

.ui-dbutton-self,
.ui-dbutton-arrow {
    float: left;
    font-weight: normal;
    cursor: pointer;
}

.ui-dbutton-self {
    border-radius: 2px 0 0 2px;
}

.ui-dbutton-arrow {
    border-radius: 0 2px 2px 0; 
}

/* 橙色 */

.ui-dbutton-orange:hover {
    color: #fff;
    background-color: #f57403;
}

.ui-dbutton-orange .ui-dbutton-self:hover,
.ui-dbutton-orange .ui-dbutton-arrow:hover {
    background-color: #fb8318;
}

.ui-dbutton-orange .ui-dbutton-self {
    border-right: 1px solid #e8720b;
}

.ui-dbutton-orange .ui-dbutton-arrow {
    border-left: 1px solid #fd8a27;
    color: #fff;
}

/* 大橙色按钮 */

.ui-button-lorange .ui-dbutton-self {
    padding: 0 12px;
}

.ui-button-lorange .ui-dbutton-arrow {
    width: 24px;
}

/* 中橙色按钮 */

.ui-button-morange .ui-dbutton-self {
    padding: 0 10px;
}

.ui-button-morange .ui-dbutton-arrow {
    width: 20px;
}

/* 小橙色按钮 */

.ui-button-sorange .ui-dbutton-self {
    padding: 0 8px;
}

.ui-button-sorange .ui-dbutton-arrow {
    width:18px;
    font-size: 10px;
}

/* 白色 */

.ui-dbutton-white:hover {
    background-color: #f3f3f3;
}

.ui-dbutton-white .ui-dbutton-self:hover,
.ui-dbutton-white .ui-dbutton-arrow:hover {
    background-color: #fcfbfb;
    color: #666;
}

.ui-dbutton-white .ui-dbutton-self {
    border-right: 1px solid #cdcdcd;
}

.ui-dbutton-white .ui-dbutton-arrow {
    border-left: 1px solid #fff;
    color: #999;
}


/* 大白色按钮 */

.ui-button-lwhite .ui-dbutton-self {
    padding: 0 12px;
}

.ui-button-lwhite .ui-dbutton-arrow {
    width: 24px;
}

/* 中白色按钮 */

.ui-button-mwhite .ui-dbutton-self {
    padding: 0 10px;
}

.ui-button-mwhite .ui-dbutton-arrow {
    width: 20px;
}

/* 小白色按钮 */

.ui-button-swhite .ui-dbutton-self {
    padding: 0 8px;
}

.ui-button-swhite .ui-dbutton-arrow {
    width:18px;
    font-size: 10px;
}
